# Sistema
.DS_Store
Thumbs.db

# Unity (se ignoran archivos regenerables)
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# No subimos configuraciones locales
UserSettings/
*.userprefs

# Visual Studio / Rider
.vs/
.vsconfig/
.idea/
*.suo
*.user
*.userosscache
*.sln*
*.csproj
*.pidb
*.unityproj
*.booproj

# Archivos de compilación
*.apk
*.aab
*.xcodeproj
*.xcworkspace
*.xcuserstate
*.ipa
*.app
*.exe
*.dll
*.pdb
*.mdb
*.so
*.dylib
*.lib

# Paquetes Unity
*.unitypackage

# Otros
*.log
*.stacktrace
*.swp
